{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="mt-4">About</h3>
            </div>
        </div>
    </div>
{{end}}